body {
    margin: 0;
    font-family: Consolas, Monaco, monospace;
    background-color: #f0f0f0;
    overflow-x: hidden;
    justify-content: center;
  }
  
  
  
  .centerEverything {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 1rem; 
    }
  
  /* Nav bar code below */
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    /* background-color: #F8F8FF; */
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 30px 20px 20px;
    font-size: 18px;
  }
  
  /* Left side of nav bar */
  .nav-left {
    justify-self: start;
  }
  
  .nav-left ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-left a {
    text-decoration: none;
    color: #8b8bae;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-left a.active {
    border-bottom: 2px solid #8b8bae;
    color: #8b8bae;
  }
  
  .nav-left a:hover {
    color: #8b8bae;
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  
  /*Right side of the nav bar */
  .nav-right {
    justify-self: end;
    margin-right: 40px;
  }
  
  .nav-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-right a {
    text-decoration: none;
    color: #8b8bae;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-right a.active {
    border-bottom: 2px solid #8b8bae;
    color: #8b8bae;
  }
  
  .nav-right a:hover {
    color: #8b8bae;
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  
  /* Hide nav bar on mobile */
  @media (max-width: 600px) {
      .nav-bar {
        display: none;  
      }
    }

  /* stacks the writing pieces on mobile */
  @media (max-width: 768px) {
    #writing > div:nth-of-type(2) {
      display: flex !important;
      flex-direction: column;
      gap: 20px;
      transition: all 0.3s ease-in-out;
    }
  }
  
  
  /* Blinking cursor effect */
  .blink-cursor::after {
    content: "|";
    display: inline-block;
    color: #8b8bae; 
    margin-left: 3px; /* Space between text and cursor */
    animation: blink 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite; 
    font-size: 1.2em; 
    line-height: 1em; 
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Headers */
  h2,
  h3 {
    color: #8b8bae;
    text-align: left; 
    margin-left: 40px; 
    margin-right: 0px; 
    width: 100%; 
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
  }
  h4 {
    color: #8b8bae;
    text-align: left; 
    margin-left: 0; 
    margin-right: 0; 
    width: 100%; 
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
  }
  /*used for get in touch header*/
  h5 {
    color: #8b8bae;
    text-align: left; 
    margin-left: -50px; 
    width: 100%; 
    font-size: 28px;
  }
  
  /*used for writing cards*/
  h6 {
    color: #8b8bae;
    text-align: left; 
    width: 100%; 
    font-size: 15px;
  }
  
  /*Footer code */
  footer {
    background-color: #f8f8ff;
    padding: 50px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    color: #636363;
    margin-top: 80px;
  
  
    width: 100%;   
    padding: 1rem;
    box-sizing: border-box;
  }
  
